.navbar {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px -1px rgb(67, 67, 67);
}

.navbar__items {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

.navbar__items-item {
  align-self: center;

  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}